@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}
.col-8{
    width: 66.66%;
    padding-left: 12px;
    padding-right: 12px;
}
.col-4{
    width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
}
.d-flex{
    display: flex;
}
.heading{
    color: var(--Colors-Heading, #1E0E62);
        font-family: 'DM Sans',sans-serif;
        font-size: 42px;
        font-style: normal;
        font-weight: 700;
        line-height: 52px;
        letter-spacing: -0.4px;
        max-width: 690px;
        padding-bottom: 12px;
        padding-top: 90px;
}
.date{
    color: var(--Colors-Text, rgba(21, 20, 57, 0.40));
        font-family: 'DM Sans',sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 2px;
        text-transform: uppercase;
        padding-bottom: 29px;
}

.heading-2{
    color: var(--Colors-Heading, #1E0E62);
        font-family: 'DM Sans',sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px;
        padding-top: 36px;
        padding-bottom: 13.6px;
}
.heading-3{
    color: var(--Colors-Heading, #1E0E62);
        font-family: 'DM Sans',sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        
}
.paragraph{
    color: var(--Colors-Heading, #1E0E62);
        font-family: 'DM Sans',sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        max-width: 700px;
}
.paragraph-2{
    color: var(--Colors-Text, rgba(21, 20, 57, 0.40));
        font-family: 'DM Sans',sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        max-width: 700px;
        padding-bottom: 46px;
       
        
}
.date-2{
    color: var(--Colors-Text, rgba(21, 20, 57, 0.40));
        font-family: 'DM Sans', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
}
.w100{
    width: 100%;
}
.border{
    border-radius: 10px;
        border: 2px solid  #EBEAED;
        padding-left: 32px;
}
.btn{
    border-radius: 100px;
        background:  #25DAC5;
        border: none;
        padding: 12px 18px;
        color: white;
}
.btn-2{
    border-radius: 100px;
        background:  #E93A7D;
        border: none;
        padding: 7px 20px;
        color: white;
}
.btn:hover{
    background:  #69e8d9;
}
.btn-2:hover{
        background: #d2497d;
    
}
.curser{
    cursor: pointer;
}
.form{
    border-radius: 100px;
        border: 2px solid  #EBEAED;
        padding: 12px 24px;
}
.lastseen{
    color: var(--Colors-Text, rgba(21, 20, 57, 0.40));
        font-family: 'DM Sans',sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 2px;
        text-transform: uppercase;
        padding-bottom: 18px;
        padding-top: 105px;
}
.padding{
    padding-bottom: 34px;
}
.image{
    padding-bottom: 20px;
}
.image-1{
    padding-bottom: 30px;
    padding-right: 19px;
}
.padding-top{
    padding-top: 52px;
}
.padding-bottom{
    padding-bottom: 4px;
}
.newsletter{
    color: var(--Colors-Heading, #1E0E62);
        font-family: 'DM Sans',sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        padding-top: 31px;
        padding-bottom: 2px;
       
     
}
.padding-bottom-2{
    padding-bottom: 18px;
}.label{
    padding-bottom: 30px;
}
.padding-50{
    padding-bottom: 50px;
}
.col-12{
    width: 100%;
    padding-left: 12px;
    padding-bottom: 12px;
}




@media(min-width:992px){
    .col-lg-8{
        width: 66.66%;
            padding-left: 12px;
            padding-bottom: 12px;
    }
        .col-lg-4 {
            width: 33.33%;
            padding-left: 12px;
            padding-bottom: 12px;
        }

}
